.topo {
    background-image: url('../imagens/img-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.galeria-quartos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.galeria {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 30px;
}
.galeria img {
    width: calc(90%/3);
    margin: 0 5px;
    cursor: pointer;
}
.info-quarto h2 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.info-quarto ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
}
.espaco {
    color: white;
}

@media (max-width: 768px) and (min-width: 556px) {
    .espaco {
        display: none;
    }
}

@media (max-width: 555px) {
    .espaco {
        display: none;
    }
    .info-quarto ul {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        list-style: none;
        margin-bottom: 50px;
        padding: 0;
    }
    .galeria {
        flex-direction: column;
    }
    .galeria img {
        width: 95%;
        margin: 5px auto;
    }
}